/* 
"""
Created on Sat Mar  9 15:57:10 2024

@author: dwalker

Black Jack website
css
"""
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

#dealer-cards img {
    height: 140px;
    width: 100px;
    margin: 1px;
}

#your-cards img {
    height: 140px;
    width: 100px;
    margin: 1px;
}

.actionButton {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#Reset {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.container {
    display: flex;
    height: 100vh;
        }

#main{
    width: 70%;
    background-color: green;
}

#rightSide{
    width: 30%;
    background-color: lightblue;
}

#top{
    background-color: #0c950c;
    font-style: normal;
    font-size: xxx-large;
}

.card{
    width: "500";
    height: "726";
}